= form_for @performance_category do |f|
  - if @performance_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@performance_category.errors.count, "error")} prohibited this performance_category from being saved:"
      %ul
        - @performance_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :begin_date
    = f.text_field :begin_date, :class => "datepicker"
  .field
    = f.label :end_date
    = f.text_field :end_date, :class => "datepicker"
  .field
    = f.label :order
    = f.number_field :order
  .actions
    = f.submit 'Save'
